.signup-wrapper {
  width: 70%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  margin: 5px auto;

  height: 97%;

  box-shadow: var(--shadow);
  padding: 1rem;
  border-radius: 1rem 1.5rem;
}
.title {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}
.p-login {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
}
